[user]
    name = Daniil Pankrashin
    email = daniil@pankrashin.com
[core]
    pager = delta
    excludesfile = ~/.gitignore_global
[init]
    defaultBranch = main
[interactive]
    diffFilter = delta --color-only
[delta]
    features = cyberdream
    navigate = true
    dark = true
    line-numbers = true
[delta "decorations"]
  syntax-theme = cyberdream
[pull]
    rebase = true
[push]
    autoSetupRemote = true
    default = current
[merge]
    conflictStyle = zdiff3
